### This Notebook explain how to download Raw Counts Data from GEO and format it, so that it can be read in scanpy as an Adata Object or in seurat as a .R object
---

Using library GEOparse we can download the supplementary files for the Dataset GSE72857.
Note: Here, we are working with GSE72857 as it is a subseries of GSE72859. 

- *GSE72857*: Is scRNAseq data.
- *GSE72858*: Is ChipSeq data.

In [1]:
import GEOparse as geo

### Download the soft matrix from geo

In [2]:
gse = geo.get_GEO(geo="GSE72857",destdir="./data/", silent=True)

### View Metadata

In [3]:
gse.metadata

{'title': ['Transcriptional heterogeneity and lineage commitment in myeloid progenitors [single cell RNA-seq]'],
 'geo_accession': ['GSE72857'],
 'status': ['Public on Nov 25 2015'],
 'submission_date': ['Sep 09 2015'],
 'last_update_date': ['May 15 2019'],
 'pubmed_id': ['26627738'],
 'summary': ['Within the bone marrow, hematopoietic stem cells differentiate and give rise to diverse blood cell types and functions. Currently, hematopoietic progenitors are defined using surface markers combined with functional assays that are not directly linked with the in vivo potential or gene regulatory mechanisms. Here we comprehensively identify myeloid progenitor subpopulations by transcriptional sorting of single cells from the bone marrow. We describe multiple progenitor subgroups showing unexpected transcriptional priming towards seven differentiation fates, but no progenitors with a mixed state. Transcriptional differentiation is correlated with combinations of known and previously undefined transcription factors, suggesting the process is tightly regulated. Histone maps and knockout assays are consistent with the transcriptional states while traditional transplantation experiments are only partially overlapping myeloid transcriptional priming. Our analyses uncover the function of the underlying regulatory mechanisms for several sub groups and establishes a general framework for dissecting hematopoiesis.'],
 'overall_design': ['Bone marrow Lin- cKit+ Sca1- myeloid progenitors mRNA profiles from single cells were generated by deep sequencing of thousands of single cells, sequenced in several batches in an Illumina NextSeq',
  '',
  "Please note that [1] raw data files were processed as single-ended file since second read (mate) files contain only cell/molecule barcodes and therefore, not provided. This information was appended to the fastq entry header [2] The 'experimental_design.txt' file explains the correspondence of each single cell (WXXXX) in the 'umitab.txt' to a sample (ABXXXX)."],
 'type': ['Expression profiling by high throughput sequencing'],
 'contributor': ['Ido,,Amit',
  'Amos,,Tanay',
  'Franziska,,Paul',
  'Yaâ€™ara,,Arkin',
  'Amir,,Giladi'],
 'sample_id': ['GSM1873450',
  'GSM1873451',
  'GSM1873452',
  'GSM1873453',
  'GSM1873454',
  'GSM1873455',
  'GSM1873456',
  'GSM1873457',
  'GSM1873458',
  'GSM1873459',
  'GSM1873460',
  'GSM1873461',
  'GSM1873462',
  'GSM1873463',
  'GSM1873464',
  'GSM1873465',
  'GSM1873466',
  'GSM1873467',
  'GSM1873468',
  'GSM1873469',
  'GSM1873470',
  'GSM1873471',
  'GSM1873472',
  'GSM1873473',
  'GSM1873474',
  'GSM1873475',
  'GSM1873476',
  'GSM1873477',
  'GSM1873478',
  'GSM1873479',
  'GSM1873480',
  'GSM1873481',
  'GSM1873482',
  'GSM1873483',
  'GSM1873484',
  'GSM1873485',
  'GSM1873486',
  'GSM1873487',
  'GSM1873488',
  'GSM1873489',
  'GSM1873490',
  'GSM1873491',
  'GSM1944931',
  'GSM1944932',
  'GSM1944933',
  'GSM1944934',
  'GSM1944935',
  'GSM1944937',
  'GSM1944938',
  'GSM1944940',
  'GSM1944941',
  'GSM1944943',
  'GSM1944945',
  'GSM1944947'],
 'contact_name': ['Ido,,Amit'],
 'contact_email': ['ido.amit@weizmann.ac.il'],
 'contact_phone': ['972-8-9343338'],
 'contact_department': ['Immunology'],
 'contact_institute': ['Weizmann Institute of Science'],
 'contact_address': ['234 Herzl st.'],
 'contact_city': ['Rehovot'],
 'contact_zip/postal_code': ['760001'],
 'contact_country': ['Israel'],
 'supplementary_file': ['ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_experimental_design.txt.gz',
  'ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_umitab.txt.gz'],
 'platform_id': ['GPL19057'],
 'platform_taxid': ['10090'],
 'sample_taxid': ['10090'],
 'relation': ['SubSeries of: GSE72859',
  'BioProject: https://www.ncbi.nlm.nih.gov/bioproject/PRJNA295200',
  'SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRP063520']}

### View Phenotype/each sample level metadata

In [4]:
gse.phenotype_data.head(4)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,taxid_ch1,...,library_strategy,relation,supplementary_file_1,series_id,data_row_count,characteristics_ch1.4.injected with,characteristics_ch1.0.strain,characteristics_ch1.1.organ,characteristics_ch1.2.selection marker,characteristics_ch1.3.treatment
GSM1873450,AB167 [Sample 1],GSM1873450,Public on Nov 25 2015,Sep 09 2015,May 15 2019,SRA,1,CMP CD41,Mus musculus,10090,...,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,"GSE72857,GSE72859",0,NaN,NaN,NaN,NaN,NaN
GSM1873451,AB168 [Sample 2],GSM1873451,Public on Nov 25 2015,Sep 09 2015,May 15 2019,SRA,1,CMP CD41,Mus musculus,10090,...,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,"GSE72857,GSE72859",0,NaN,NaN,NaN,NaN,NaN
GSM1873452,AB173 [Sample 3],GSM1873452,Public on Nov 25 2015,Sep 09 2015,May 15 2019,SRA,1,Unsorted myeloid,Mus musculus,10090,...,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,"GSE72857,GSE72859",0,NaN,NaN,NaN,NaN,NaN
GSM1873453,AB174 [Sample 4],GSM1873453,Public on Nov 25 2015,Sep 09 2015,May 15 2019,SRA,1,Unsorted myeloid,Mus musculus,10090,...,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,NONE,"GSE72857,GSE72859",0,NaN,NaN,NaN,NaN,NaN

In [5]:
gse.metadata['supplementary_file']

['ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_experimental_design.txt.gz',
 'ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_umitab.txt.gz']

### Download supplementary files

In [15]:
!wget -q "ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_experimental_design.txt.gz" -O ./data/GSE72857_experimental_design.txt.gz
!wget -q "ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE72nnn/GSE72857/suppl/GSE72857_umitab.txt.gz" -O ./data/GSE72857_umitab.txt.gz

### Read the raw counts data as a pandas Dataframe

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv("./data/GSE72857_umitab.txt.gz",sep="\t",index_col=0,compression='gzip')

In [8]:
data.shape

(27297, 10368)

In [9]:
data.head(5)

,W29953,W29954,W29955,W29956,W29957,W29958,W29959,W29960,W29961,W29962,...,W76327,W76328,W76329,W76330,W76331,W76332,W76333,W76334,W76335,W76336
0610007C21Rik;Apr3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0610007L01Rik,0,2,1,1,2,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
0610007P08Rik;Rad26l,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0610007P14Rik,0,0,0,1,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
0610007P22Rik,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Note:** Here we can see that the rows represent genes/variables and the columns represents cells/observations,

**Note:** The Gene names will need some reformatting

In [10]:
# Function to format the index
def format_index(idx):
    parts = idx.split(';')
    selected_part = parts[1] if len(parts) > 1 else parts[0]
    return selected_part.capitalize()

# Apply the function to the DataFrame index
data.index = data.index.map(format_index)

In [11]:
data

,W29953,W29954,W29955,W29956,W29957,W29958,W29959,W29960,W29961,W29962,...,W76327,W76328,W76329,W76330,W76331,W76332,W76333,W76334,W76335,W76336
Apr3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0610007l01rik,0,2,1,1,2,0,0,0,1,1,...,0,0,0,0,0,1,1,0,0,0
Rad26l,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0610007p14rik,0,0,0,1,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
0610007p22rik,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rp9,0,0,0,1,0,0,0,2,0,0,...,0,0,1,0,1,4,3,0,0,0
Scmh1,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Slc43a2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tex9,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Tspan3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Lets Create a Anndata Object

In [12]:
import scanpy as sc

- X : Data Matrix
- var: Gene Names
- obs: Metadata info

In [13]:
data.index.value_counts()

Sh3d19      2
Oasl1       2
Sp1         2
Apr3        1
Nab2        1
           ..
Dq686040    1
Dq686029    1
Dq686014    1
Dq686008    1
Tspan3      1
Name: count, Length: 27294, dtype: int64

In [14]:
adata = sc.AnnData(X=data.T)

/usr/local/lib/python3.8/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [15]:
adata.var_names_make_unique()

In [16]:
adata.write_h5ad("./data/adata.h5ad")

### Read the Metadata file which holds the experiemntal design

In [17]:
metadata = pd.read_csv("./data/GSE72857_experimental_design.txt",
                       sep="\t",
                      skiprows=19)

In [18]:
metadata

,Well_ID,Seq_batch_ID,Amp_batch_ID,well_coordinates,Mouse_ID,Plate_ID,Batch_desc,Pool_barcode,Cell_barcode,RMT_sequence,Number_of_cells,CD34_measurement,FcgR3_measurement
0,W29953,SB17,AB167,A1,1,1,CMP CD41,TGAT,CTACCA,NNNN,1,NaN,NaN
1,W29954,SB17,AB167,C1,1,1,CMP CD41,TGAT,CATGCT,NNNN,1,NaN,NaN
2,W29955,SB17,AB167,E1,1,1,CMP CD41,TGAT,GCACAT,NNNN,1,NaN,NaN
3,W29956,SB17,AB167,G1,1,1,CMP CD41,TGAT,TGCTCG,NNNN,1,NaN,NaN
4,W29957,SB17,AB167,I1,1,1,CMP CD41,TGAT,AGCAAT,NNNN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10363,W76332,SB29,AB396,H24,6,27,Cebpa control,ATGC,GCATTG,NNNN,1,NaN,NaN
10364,W76333,SB29,AB396,J24,6,27,Cebpa control,ATGC,GGCTAA,NNNN,1,NaN,NaN
10365,W76334,SB29,AB396,L24,6,27,Cebpa control,ATGC,CTGTGA,NNNN,1,NaN,NaN
10366,W76335,SB29,AB396,N24,6,27,Cebpa control,ATGC,CATGCA,NNNN,1,NaN,NaN
10367,W76336,SB29,AB396,P24,6,27,Cebpa control,ATGC,GATCGA,NNNN,1,NaN,NaN

In [19]:
metadata['index'] = metadata['Well_ID']
metadata.index = metadata['index']

In [20]:
metadata

,Well_ID,Seq_batch_ID,Amp_batch_ID,well_coordinates,Mouse_ID,Plate_ID,Batch_desc,Pool_barcode,Cell_barcode,RMT_sequence,Number_of_cells,CD34_measurement,FcgR3_measurement,index
index,,,,,,,,,,,,,,
W29953,W29953,SB17,AB167,A1,1,1,CMP CD41,TGAT,CTACCA,NNNN,1,NaN,NaN,W29953
W29954,W29954,SB17,AB167,C1,1,1,CMP CD41,TGAT,CATGCT,NNNN,1,NaN,NaN,W29954
W29955,W29955,SB17,AB167,E1,1,1,CMP CD41,TGAT,GCACAT,NNNN,1,NaN,NaN,W29955
W29956,W29956,SB17,AB167,G1,1,1,CMP CD41,TGAT,TGCTCG,NNNN,1,NaN,NaN,W29956
W29957,W29957,SB17,AB167,I1,1,1,CMP CD41,TGAT,AGCAAT,NNNN,1,NaN,NaN,W29957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W76332,W76332,SB29,AB396,H24,6,27,Cebpa control,ATGC,GCATTG,NNNN,1,NaN,NaN,W76332
W76333,W76333,SB29,AB396,J24,6,27,Cebpa control,ATGC,GGCTAA,NNNN,1,NaN,NaN,W76333
W76334,W76334,SB29,AB396,L24,6,27,Cebpa control,ATGC,CTGTGA,NNNN,1,NaN,NaN,W76334
W76335,W76335,SB29,AB396,N24,6,27,Cebpa control,ATGC,CATGCA,NNNN,1,NaN,NaN,W76335
W76336,W76336,SB29,AB396,P24,6,27,Cebpa control,ATGC,GATCGA,NNNN,1,NaN,NaN,W76336

In [9]:
adata = sc.read_h5ad("./data/adata.h5ad")

### Add it to the obs dataframe of the adata object

In [21]:
adata.obs = metadata

In [22]:
adata.obs

,Well_ID,Seq_batch_ID,Amp_batch_ID,well_coordinates,Mouse_ID,Plate_ID,Batch_desc,Pool_barcode,Cell_barcode,RMT_sequence,Number_of_cells,CD34_measurement,FcgR3_measurement,index
index,,,,,,,,,,,,,,
W29953,W29953,SB17,AB167,A1,1,1,CMP CD41,TGAT,CTACCA,NNNN,1,NaN,NaN,W29953
W29954,W29954,SB17,AB167,C1,1,1,CMP CD41,TGAT,CATGCT,NNNN,1,NaN,NaN,W29954
W29955,W29955,SB17,AB167,E1,1,1,CMP CD41,TGAT,GCACAT,NNNN,1,NaN,NaN,W29955
W29956,W29956,SB17,AB167,G1,1,1,CMP CD41,TGAT,TGCTCG,NNNN,1,NaN,NaN,W29956
W29957,W29957,SB17,AB167,I1,1,1,CMP CD41,TGAT,AGCAAT,NNNN,1,NaN,NaN,W29957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W76332,W76332,SB29,AB396,H24,6,27,Cebpa control,ATGC,GCATTG,NNNN,1,NaN,NaN,W76332
W76333,W76333,SB29,AB396,J24,6,27,Cebpa control,ATGC,GGCTAA,NNNN,1,NaN,NaN,W76333
W76334,W76334,SB29,AB396,L24,6,27,Cebpa control,ATGC,CTGTGA,NNNN,1,NaN,NaN,W76334
W76335,W76335,SB29,AB396,N24,6,27,Cebpa control,ATGC,CATGCA,NNNN,1,NaN,NaN,W76335
W76336,W76336,SB29,AB396,P24,6,27,Cebpa control,ATGC,GATCGA,NNNN,1,NaN,NaN,W76336

### Write the adata object to the Disk

In [23]:
adata.write_h5ad("./data/adata_v1.h5ad")